<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bsfit.frms.portal.base.mapper.CountriesCodeMapper" >
  <resultMap id="BaseResultMap" type="cn.com.bsfit.frms.portal.base.pojo.CountriesCode" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="LETTER_CODE" property="letterCode" jdbcType="VARCHAR" />
    <result column="DIGITAL_CODE" property="digitalCode" jdbcType="VARCHAR" />
    <result column="FOR_SHORT" property="forShort" jdbcType="VARCHAR" />
    <result column="FULL_NAME" property="fullName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="MODIFER" property="modifer" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, LETTER_CODE, DIGITAL_CODE, FOR_SHORT, FULL_NAME, CREATE_TIME, UPDATE_TIME, MODIFER
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCodeExample" >
    <include refid="OracleDialectPrefix" />
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from COUNTRIES_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="OracleDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from COUNTRIES_CODE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from COUNTRIES_CODE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCodeExample" >
    delete from COUNTRIES_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCode" >
    insert into COUNTRIES_CODE (ID, LETTER_CODE, DIGITAL_CODE, 
      FOR_SHORT, FULL_NAME, CREATE_TIME, 
      UPDATE_TIME, MODIFER)
    values (#{id,jdbcType=DECIMAL}, #{letterCode,jdbcType=VARCHAR}, #{digitalCode,jdbcType=VARCHAR}, 
      #{forShort,jdbcType=VARCHAR}, #{fullName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{modifer,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCode" >
    insert into COUNTRIES_CODE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="letterCode != null" >
        LETTER_CODE,
      </if>
      <if test="digitalCode != null" >
        DIGITAL_CODE,
      </if>
      <if test="forShort != null" >
        FOR_SHORT,
      </if>
      <if test="fullName != null" >
        FULL_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="modifer != null" >
        MODIFER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="letterCode != null" >
        #{letterCode,jdbcType=VARCHAR},
      </if>
      <if test="digitalCode != null" >
        #{digitalCode,jdbcType=VARCHAR},
      </if>
      <if test="forShort != null" >
        #{forShort,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifer != null" >
        #{modifer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCodeExample" resultType="java.lang.Integer" >
    select count(1) from COUNTRIES_CODE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update COUNTRIES_CODE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.letterCode != null" >
        LETTER_CODE = #{record.letterCode,jdbcType=VARCHAR},
      </if>
      <if test="record.digitalCode != null" >
        DIGITAL_CODE = #{record.digitalCode,jdbcType=VARCHAR},
      </if>
      <if test="record.forShort != null" >
        FOR_SHORT = #{record.forShort,jdbcType=VARCHAR},
      </if>
      <if test="record.fullName != null" >
        FULL_NAME = #{record.fullName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modifer != null" >
        MODIFER = #{record.modifer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update COUNTRIES_CODE
    set ID = #{record.id,jdbcType=DECIMAL},
      LETTER_CODE = #{record.letterCode,jdbcType=VARCHAR},
      DIGITAL_CODE = #{record.digitalCode,jdbcType=VARCHAR},
      FOR_SHORT = #{record.forShort,jdbcType=VARCHAR},
      FULL_NAME = #{record.fullName,jdbcType=VARCHAR},
      CREATE_TIME = #{record.createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{record.updateTime,jdbcType=TIMESTAMP},
      MODIFER = #{record.modifer,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCode" >
    update COUNTRIES_CODE
    <set >
      <if test="letterCode != null" >
        LETTER_CODE = #{letterCode,jdbcType=VARCHAR},
      </if>
      <if test="digitalCode != null" >
        DIGITAL_CODE = #{digitalCode,jdbcType=VARCHAR},
      </if>
      <if test="forShort != null" >
        FOR_SHORT = #{forShort,jdbcType=VARCHAR},
      </if>
      <if test="fullName != null" >
        FULL_NAME = #{fullName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifer != null" >
        MODIFER = #{modifer,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bsfit.frms.portal.base.pojo.CountriesCode" >
    update COUNTRIES_CODE
    set LETTER_CODE = #{letterCode,jdbcType=VARCHAR},
      DIGITAL_CODE = #{digitalCode,jdbcType=VARCHAR},
      FOR_SHORT = #{forShort,jdbcType=VARCHAR},
      FULL_NAME = #{fullName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      UPDATE_TIME = #{updateTime,jdbcType=TIMESTAMP},
      MODIFER = #{modifer,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <sql id="OracleDialectPrefix" >
    <if test="page != null" >
      select * from ( select row_.*, rownum rownum_ from ( 
    </if>
  </sql>
  <sql id="OracleDialectSuffix" >
    <if test="page != null" >
      <![CDATA[ ) row_ ) where rownum_ > #{page.begin} and rownum_ <= #{page.end} ]]>
    </if>
  </sql>
</mapper>