<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.bsfit.frms.portal.base.mapper.AssignUserResourceMapper" >
  <resultMap id="BaseResultMap" type="cn.com.bsfit.frms.portal.base.pojo.AssignUserResource" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="ASSIGN_ID" property="assignId" jdbcType="BIGINT" />
    <result column="DEPT_ID" property="deptId" jdbcType="INTEGER" />
    <result column="BIZ_CODE" property="bizCode" jdbcType="VARCHAR" />
    <result column="RISK_LEVEL" property="riskLevel" jdbcType="INTEGER" />
    <result column="BIZ_CATEGORY" property="bizCategory" jdbcType="VARCHAR" />
    <result column="RISK_TYPE" property="riskType" jdbcType="VARCHAR" />
    <result column="PARAM1" property="param1" jdbcType="VARCHAR" />
    <result column="PARAM2" property="param2" jdbcType="VARCHAR" />
    <result column="PARAM3" property="param3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, ASSIGN_ID, DEPT_ID, BIZ_CODE, RISK_LEVEL, BIZ_CATEGORY, RISK_TYPE, PARAM1, PARAM2, 
    PARAM3
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from assign_user_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MysqlSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from assign_user_resource
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from assign_user_resource
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResourceExample" >
    delete from assign_user_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResource" >
    insert into assign_user_resource (ID, ASSIGN_ID, DEPT_ID, 
      BIZ_CODE, RISK_LEVEL, BIZ_CATEGORY, 
      RISK_TYPE, PARAM1, PARAM2, 
      PARAM3)
    values (#{id,jdbcType=BIGINT}, #{assignId,jdbcType=BIGINT}, #{deptId,jdbcType=INTEGER}, 
      #{bizCode,jdbcType=VARCHAR}, #{riskLevel,jdbcType=INTEGER}, #{bizCategory,jdbcType=VARCHAR}, 
      #{riskType,jdbcType=VARCHAR}, #{param1,jdbcType=VARCHAR}, #{param2,jdbcType=VARCHAR}, 
      #{param3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResource" >
    insert into assign_user_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="assignId != null" >
        ASSIGN_ID,
      </if>
      <if test="deptId != null" >
        DEPT_ID,
      </if>
      <if test="bizCode != null" >
        BIZ_CODE,
      </if>
      <if test="riskLevel != null" >
        RISK_LEVEL,
      </if>
      <if test="bizCategory != null" >
        BIZ_CATEGORY,
      </if>
      <if test="riskType != null" >
        RISK_TYPE,
      </if>
      <if test="param1 != null" >
        PARAM1,
      </if>
      <if test="param2 != null" >
        PARAM2,
      </if>
      <if test="param3 != null" >
        PARAM3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="assignId != null" >
        #{assignId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="bizCode != null" >
        #{bizCode,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null" >
        #{riskLevel,jdbcType=INTEGER},
      </if>
      <if test="bizCategory != null" >
        #{bizCategory,jdbcType=VARCHAR},
      </if>
      <if test="riskType != null" >
        #{riskType,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        #{param3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResourceExample" resultType="java.lang.Integer" >
    select count(*) from assign_user_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update assign_user_resource
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.assignId != null" >
        ASSIGN_ID = #{record.assignId,jdbcType=BIGINT},
      </if>
      <if test="record.deptId != null" >
        DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      </if>
      <if test="record.bizCode != null" >
        BIZ_CODE = #{record.bizCode,jdbcType=VARCHAR},
      </if>
      <if test="record.riskLevel != null" >
        RISK_LEVEL = #{record.riskLevel,jdbcType=INTEGER},
      </if>
      <if test="record.bizCategory != null" >
        BIZ_CATEGORY = #{record.bizCategory,jdbcType=VARCHAR},
      </if>
      <if test="record.riskType != null" >
        RISK_TYPE = #{record.riskType,jdbcType=VARCHAR},
      </if>
      <if test="record.param1 != null" >
        PARAM1 = #{record.param1,jdbcType=VARCHAR},
      </if>
      <if test="record.param2 != null" >
        PARAM2 = #{record.param2,jdbcType=VARCHAR},
      </if>
      <if test="record.param3 != null" >
        PARAM3 = #{record.param3,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update assign_user_resource
    set ID = #{record.id,jdbcType=BIGINT},
      ASSIGN_ID = #{record.assignId,jdbcType=BIGINT},
      DEPT_ID = #{record.deptId,jdbcType=INTEGER},
      BIZ_CODE = #{record.bizCode,jdbcType=VARCHAR},
      RISK_LEVEL = #{record.riskLevel,jdbcType=INTEGER},
      BIZ_CATEGORY = #{record.bizCategory,jdbcType=VARCHAR},
      RISK_TYPE = #{record.riskType,jdbcType=VARCHAR},
      PARAM1 = #{record.param1,jdbcType=VARCHAR},
      PARAM2 = #{record.param2,jdbcType=VARCHAR},
      PARAM3 = #{record.param3,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResource" >
    update assign_user_resource
    <set >
      <if test="assignId != null" >
        ASSIGN_ID = #{assignId,jdbcType=BIGINT},
      </if>
      <if test="deptId != null" >
        DEPT_ID = #{deptId,jdbcType=INTEGER},
      </if>
      <if test="bizCode != null" >
        BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
      </if>
      <if test="riskLevel != null" >
        RISK_LEVEL = #{riskLevel,jdbcType=INTEGER},
      </if>
      <if test="bizCategory != null" >
        BIZ_CATEGORY = #{bizCategory,jdbcType=VARCHAR},
      </if>
      <if test="riskType != null" >
        RISK_TYPE = #{riskType,jdbcType=VARCHAR},
      </if>
      <if test="param1 != null" >
        PARAM1 = #{param1,jdbcType=VARCHAR},
      </if>
      <if test="param2 != null" >
        PARAM2 = #{param2,jdbcType=VARCHAR},
      </if>
      <if test="param3 != null" >
        PARAM3 = #{param3,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.bsfit.frms.portal.base.pojo.AssignUserResource" >
    update assign_user_resource
    set ASSIGN_ID = #{assignId,jdbcType=BIGINT},
      DEPT_ID = #{deptId,jdbcType=INTEGER},
      BIZ_CODE = #{bizCode,jdbcType=VARCHAR},
      RISK_LEVEL = #{riskLevel,jdbcType=INTEGER},
      BIZ_CATEGORY = #{bizCategory,jdbcType=VARCHAR},
      RISK_TYPE = #{riskType,jdbcType=VARCHAR},
      PARAM1 = #{param1,jdbcType=VARCHAR},
      PARAM2 = #{param2,jdbcType=VARCHAR},
      PARAM3 = #{param3,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="MysqlSuffix" >
    <if test="page != null" >
      <![CDATA[ limit #{page.begin} , #{page.length} ]]>
    </if>
  </sql>
</mapper>